*{
    padding: 0;
    margin: 0;
}

.capa{
    padding: 0 0 2% 0;
}

.div_galeria{
    display: flex;
}

.div_ativ{
    padding: 1% 2%;
    width: 29.33333333%;
    background-color: rgb(180, 100, 255);
    float: left;
    margin: auto;
}

.div_trab{
    padding: 1% 2%;
    background-color: rgb(180, 100, 255);
    display: block;
    float: left;
    margin: auto;
}

.trabalho1{
    display: block;
    float: none;
}

.capa_ativ{
    width: 100%;
    margin: auto;
}

.div_ativ img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

body{
    background-image: url(../img/background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 0 10%;
    background-attachment: fixed;
    opacity: 0.8;
}

.div_galeria li{
    text-decoration: none;
    list-style-type: none;
}

h1{
    font-size: 18px;
}

h2{
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 3% 0 3% 0;
}