*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;
}

body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: repeat-y;
    opacity: 0.9;
}

.titulo{
    display: flex;
    background: rgb(0, 100, 100);
    height: 80px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
}

.botao_sanduiche{
    color: white;
    width: 50px;
    height: 35px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid;
    cursor: pointer;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    user-select: none;
}

body>.show{
    width: 180px;
}

.nav_lateral{
    background-color: rgb(1, 78, 78);
    width: 0px;
    height: 100vh;
    border-right: 1px solid black;
    transition: width 500ms;
    float: left;
}

.nav_lateral ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 122, 122, 0.5);
}

.nav_lateral ul li a:hover{
    background-color: rgb(0, 122, 122);
}

.acordeon{
    padding: 0 20px;
    border-bottom: 1px solid rgb(0, 0, 0);

}

.acordeon .fole{
    user-select: none;
    margin: 5px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.5);
    color: white;
    background-color: rgb(54, 99, 96);
    cursor: pointer;
    border-radius: 10px;
}

.acordeon .fole h2{
    padding: 5px 20px;
}

.acordeon .fole .conteudo{
    transition: max-height 500ms;
    max-height: 0px;
    background-color: rgb(70, 124, 121);
    text-align: justify;
}

/* .acordeon .fole:hover .conteudo{
    max-height: 500px;
} */

.acordeon .fole .conteudo p{
    padding: 20px;
}

.acordeon>.fole>.show{
    max-height: 500px;
}

@media screen and (min-width: 480px){
    .botao_sanduiche{
        display: none;
    }

    .nav_lateral{
        display: block;
        width: 180px;
        height: 100vh;
        float: left;
    }
}